@font-face {
    font-family:"arkibal";
    src:url(ArkibalDisplay-Light.woff) ;
   
}



@font-face{
    font-family:"arkibal";
    src:url(ArkibalDisplay-Regular.woff); 
    font-weight:bold;
}

@font-face{
    font-family:"arkibal-bold";
    src:url(ArkibalDisplay-Heavy.woff); 
    
}


@keyframes why{
    0%{left: 0px; top: 0px}
    50%{left: 800px; top: 80px;}
    100%{left: 500px; top: 200px;}
}

@keyframes how{
    0%{left: 800px; top: 300px}
    50%{left: 0px; top: 50px;}
    100%{left: 50px; top: 40px;}
}


* {
  box-sizing: border-box;
    
    
}

p{
    font-family: arkibal;
}

body{
    
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: hidden;
    
    
    
    font-family: arkibal;
}

a{
    text-decoration: none;
    color: black;
}



.header{
    position: relative;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 8vh;
    
    margin-top: 2vh;   
}

            .index{
             position: absolute;
             top: 0px;
             left: 70vw;

                width: 130px;
                height: 50px;

                display: inline;
                
                text-align: left;

                cursor: pointer;
                color: black;

                
                
                font-weight:bold;
                font-family: arkibal;
                z-index: 9;
                
                font-size: 20px;
            }

#index{
    position: absolute;
    top:0px;
    left: 68vw;
    
    
    width: 30vw;
    height: 500px;
    z-index: 8;
    background-color: white;
    
    padding-top: 40px;
    padding-left: 25px;
    
    border: 1px solid black;
}

            


.container{
    position: relative;
    top:0px;
    left:0px;
    
    background-color: black;
    
    width: 100vw;
    height: 90vh;
    
    grid-template-columns: 25px 1fr;
    display: grid;
    
    
}

.exhibition{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 90vh;
    
}

.content
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: auto;

}

.content2
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: auto;

    overflow-y: scroll;
}



.Seoul{
    position: relative;
    top:0px;
    left: -10px;
    
    
    
    width: 60px;
    height: 40px;
    
    border: 1px solid black;
    
    z-index: 10;
    
    background-color: white;
    
    
    text-align: center;
    
    
    font-weight:bold;
    font-family: arkibal;
    color: white;
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.Seoul:hover{
    width: 150px;
    color: black;
    
    transition-duration: 0.7s;
}


.London{
    position: relative;
    top:0px;
    left: -10px;
    
    
    
    width: 60px;
    height: 40px;
    
    z-index: 10;
    
    background-color:#fceb00;
    
    
    text-align: center;
    vertical-align: middle;
    
    font-weight: bold;
    font-family: arkibal;
    
    color: #fceb00;
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.London:hover{
    width: 150px;
    color: black;
}

.Locus{
    position: relative;
    top:0px;
    left: -10px;
    
    width: 60px;
    height: 40px;
    
    z-index: 10;
    
    
    background-color: yellow;
    color: yellow;
    
    text-align: center;
    vertical-align: middle;
    
    font-weight:bold;
    font-family: arkibal;
    
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.Locus:hover{
    width: 150px;
    transition-duration: 0.7s;
    color: black;
    
}



#London{
    
    
    width: 100%;
    height: 75vh;
    
    
    
    
    
    z-index: 5;
    
    
    border: 3px dotted black;
    
}

.container{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: 90vh;
    
    grid-template-columns: 25px 1fr;
    display: grid;
    
    
}

.content
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: auto;

    overflow-y: scroll;
}

#boxwhy, #boxhow{
    position:relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
    
    background-color: white;
    z-index: 9;
    
    
    animation-duration: 60s;
    animation-direction: alternate; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#boxwhy{
    animation-name: why;
    left: 50px;
    
}

#boxhow{
    animation-name: how;
    
}

.lecname{
    font-weight: bold;
    font-family: arkibal;
    font-size: 15px;
    
    text-align: center;
    padding: 15px 0;
    
    color: black;
    z-index: 8;
    
     border: 1px solid black;

}



#whycontent, #howcontent{
    position: static;
    top: 20vh;
    left: 45vw;
    width: 400px;
    height: 400px;
    
    border: 1px solid black;
    display: none;
    background-color: white;
    z-index: 8;
    
    
    padding: 5px;
}



.related{
    cursor: pointer;
}

#boxwhy:hover{
    animation-play-state: paused;
}

#boxhow:hover{
    animation-play-state: paused;
}

#boxwhy:hover #whycontent{
    display: block;
}

#boxhow:hover #howcontent{
    display: block;
}

.text{
    margin-left: 10px;
}

.text:hover .lecname{
    color: yellow;
}

