@keyframes poster {
    from {opacity: 1;}
    to {opacity: 0;}
}

* {
  box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0px;
}
    
.background{
    position: relative;
    top:1vw;
    
    
    
    display: block;
    width: 70vw;
}

.cover{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    
    
    
    width: 100vw;
    height: 100vh;
    
    animation-name: poster;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.poster{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    height: 98vh;
    
}

.poster2{
    margin-left: auto;
    margin-right: auto;
    
    
    
    width: 100%;
}

.container, .container2{
    position: relative;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    
    
}

.container2
{
    background-color: white;
}


.window{
    width: 80vw;
    height: 90vh;
     
    display: block;
    margin: 0px auto;  
}

.window2{
    width: 100vw;
    height: 100vh;
     
    display: block;
    margin: 0px auto;  
    
}

.pc{
    position: absolute;
    top:0vh;
    left:0vw;
    
    width: 100vw;
    height: 100vh;
    
    
}

.mobile{
    position: absolute;
    top:0vh;
    left:0vw;
    
    width: 100vw;
    height: 100vh;
    
    
}

@media all and (min-width: 200px) and (max-width: 600px) {
    .pc {display:none}
    .container {display: none}
}

@media all and (min-width: 600px){
    .mobile {display:none}
    .container2 {display: none}
}

