@keyframes coverani {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes poster {
    from {opacity: 0;}
    to {opacity: 1;}
}

@font-face{
    font-family:"arkibal";
    src:url(ArkibalDisplay-Heavy.woff);
    font-weight:bold;
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body{
    background-color: yellow;
    margin: 10px;
}
a {
  text-decoration-line: none;
  color: black;

}

a:hover{color:yellow;}

.artist{
color:black;
font-size:5vw;
font-family: arkibal;
}



#modal .modal-window {
            background: #fcca1b;
            box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 0px;
            border: 0px solid rgba( 255, 255, 255, 0.18 );
            width: 50vx;
            position: fixed;
            right:0px;
            margin-right: 8%;
            top: 10%;
            padding: 0px;
        }
        #modal .title {
            padding-left: 0px;
            display: inline;
            color: white;

        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 5px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: black;
        }

        #modal .content {
            margin-top: 0px;
            padding: 0px;
            color: white;
        }

        #modal .click {
            display: inline;
            float: left;
            padding-left: 2px;
            cursor: pointer;
            color: black;

        }

        #modal .ARposter2{
            width: 50vw;
            cursor: pointer;
            align: center;
        }

.background{
    position: relative;
    top:1vw;




    display: block;
    width: 70vw;
}




.window{
    width: 100vw;
    height: 100vh;

    display: block;
    margin: 0px auto;



}

.window2{
    width: 100vw;
    height: 100vh;

    display: block;
    margin: 0px auto;

}

.pc{
    position: absolute;
    top:0vh;
    left:0vw;

    width: 100vw;
    height: 100vh;


}

.mobile{
    position: absolute;
    top:0vh;
    left:0vw;

    width: 100vw;
    height: 100vh;


}

.here{
    position: absolute;
    text-align: center;
    top: 40vh;
    color: white;

    width: 100%;
}

@media all and (min-width: 200px) and (max-width: 760px) {
    .pc {display:none}
    .container {display: none}
}

@media all and (min-width: 760px){
    .mobile {display:none}
    .container2 {display: none}
}
