@font-face {
    font-family:"arkibal";
    src:url(ArkibalDisplay-Light.woff) 
}

@font-face{
    font-family:"arkibal";
    src:url(ArkibalDisplay-Regular.woff); 
    font-weight:bold;
}

@font-face{
    font-family:"arkibal-bold";
    src:url(ArkibalDisplay-Heavy.woff); 
    
}

@keyframes dots {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes dotsappear {
    from {opacity: 0;}
    to {opacity: 1;}
}

* {
  box-sizing: border-box;
    
    
}

p{
    font-family: arkibal;
}

body{
    
    
    
    max-width: 100%;
    overflow-x: hidden;
    font-family: arkibal;
    
    
    
    
    
}

a{
    text-decoration: none;
    color: black;
}



.header{
    position: relative;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 8vh;
    
    margin-top: 2vh;
   
    
}

            .index{
             position: absolute;
             top: -15px;
             right: -15px;

                width: 100px;
                height: 50px;

                display: inline;
                
                text-align: left;

                cursor: pointer;
                color: black;

                
                
                font-weight:bold;
                font-family: arkibal;
                z-index: 9;
                
                font-size: 20px;
            }

#index{
    position: fixed;
    top:0;
    left: 0;
    
    
    width: 0;
    height: 100vh;
    z-index: 10;
    background-color: white;
    
    
    
    transition-duration: 0.7s;
    
    overflow: hidden;
}

            
.indextext{
    margin-left: 30px;
    margin-top:50px;
}

.container{
    position: relative;
    top:0px;
    left:0px;
    
    min-width:  100%;
    height: 90vh;
    
    
    
    
}

.exhibition{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 90vh;
    
}

.content
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 98%;
    height: 90vh;
    
    
}

.storage{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 55vh;
    
}



.done{
    position: absolute;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 100vh;
    
    z-index: 0;
    
}




#archive{
    
    
    width: 100%;
    height: 40vh;
    
    
    
    
    
    z-index: 5;
    
    
    
    
}

#archiveheader{
    position: relative;
    top:10px;
    
    width: 130px;
    height: 45px;
    
    background-color: yellow;
    z-index: 7;
}

#onsite{
    margin-top: 50px;
    margin-bottom: 150px;
}

#onsiteheader{
    position: relative;
    top:10px;
    
    width: 130px;
    height: 45px;
    
    background-color: yellow;
    z-index: 7;
}


.name{
    font-weight: bold;
    font-family: arkibal;
    font-size: 15px;
    
    text-align: center;
    padding: 15px 0;
    
    
    z-index: 7;

}





.pages{
    position: relative;
    top:0px;
    left: 0px;
    
    width: 100%;
    height: 90%;
    
    z-index: 8;
}

.swiper-slide{
    position: relative;
    top:0px;
    left: 0px;
    
    width: 100%;
    height: 90%;
    
    z-index: 8;
}

.swiper-container{
    position: relative;
    top:0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    
    z-index: 10;
    
    border: 1px solid black;
    padding: 10px;
}

.ex_img{
    position: relative;
    top:0px;
    left: 0px;
    
    margin: 15px auto;
    
    width: 95%;
    

}

.buttons{
    position: absolute;
    top:10px;
    left: 50px;
    
    width: 40%;
    height: 100%;
}



.disappear{
  animation-name: dots;
  animation-duration: 3s;
  animation-delay: 6s; 
  animation-fill-mode: both;  
    
 
}













.ongoing{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 50vh;
    
    z-index: 9;
    
    
    
    
}


.depot_channel{
    position: relative;
    top:0px;
    left: 0vw;
    
    width: 100%;
    height: 50vh;
    
    
    
    background-color: white;
    
    text-align: center;
    
    
    
}

#recture{
    height: 100vh;
    width: 0;
    position: fixed;
    
    overflow-x: hidden;
    
    
    right: 0;
    z-index: 10;
    
    background-color: white;
    
    
    
    
}
#lectureschedule{
    top:0px;
    width: 100%;
    height: 50vh;
    background-color: white;
    
    
    padding-left: 20px;
    padding-top: 20px;
    
    border: 1px solid black;
    overflow-y: scroll;
   
}

.leclistwrapper{
    display: grid;
    grid-template-columns: 80px 1fr;
    
    
    margin-top: -10px;
    
}

.time{
    color: brown;
    font-size: 13px;
    line-height: 20px;
}

.who{
    width: 130%;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    
}

ins{
    font-family: arkibal;
    
    font-size: 11px;
    
    text-decoration: none;
}

.video{
    margin-bottom: 30px;
}

.closebtn{
    position: absolute;
    top:15px;
    right: 15px;
    
    font-size: 30px;
    
    cursor: pointer;
    color: black;
    z-index: 10;
}

.ch1box{
    position: relative;
    top:0px;
    left: 0vw;
    
    width: 100%;
    height: 25vh;
    background-color: white;
    
    
    display: grid;
    grid-template-columns: 200px 1fr;
    cursor: pointer;
    
    border: 1px solid black;
}

.ch2box{
    position: relative;
    top:0vh;
    left: 0vw;
    
    width: 100%;
    height: 25vh;
    background-color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    
    border: 1px solid black;
}

.ch_info{
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    
    display: grid;
   
    
    padding: 20px;
}
.on{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    padding: 30px;
}
.onair{
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
    animation-name: dots;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
    
    
}

.ch_list{
    width: 100%;
    text-align: left;
    font-size: 13px;
    
    line-height: 20px;
    overflow-y: scroll;
    
    padding-right: 10px;
}

#ch1, #ch2{

    width: 97vw;
    height: 90vh;
    
    
    
    background-color: white;
   
}

#chheader{
    height: 100%;
    
}

.ch1{
    position: absolute;
    left: 0vw;
    top:0vh; 
}

.ch2{
    position: absolute;
    left: 0;
    top:0vh; 
}

.live-station{
    
    
    width: 100%;
    height: 40%;
    
    opacity: 1;
    z-index: 10;
   
    
    
    transition-duration: 1.5s;
    transition-delay: 8s;
    
}




.chat{
   
    
    width: 100%;
    height: 60%;
    
    opacity: 1;
    
    z-index: 9;
    
    transition-duration: 1s;
    transition-delay: 8s;
}

.close{
    position: absolute;
    top:25px;
    right: 25px;
    
    font-size: 25px;
    float:right;
    cursor: pointer;
    color: black;
    z-index: 10;
}