@font-face {
    font-family:"arkibal";
    src:url(/web_font/ArkibalDisplay-Heavy.woff) 
}

* {
  box-sizing: border-box;
    
    
}

p{
    font-family: arkibal;
}

body{
    background-color: #fceb00;
    
    width: 120vw;
    
    font-family: arkibal;
}

a{
    text-decoration: none;
    color: black;
}



.header{
    position: relative;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 8vh;
    
    margin-top: 2vh;
   
    
}

            .index{
                position: absolute;
                top: 0px;
                left: 70vw;

                width: 130px;
                height: 50px;

                display: inline;
                
                text-align: left;

                cursor: pointer;
                color: black;

                overflow: hidden;

                transition-duration: 2s;
                
                
                z-index: 10;
                
                font-size: 20px;
            }

            .index:hover{
                position: absolute;
                top: 0px;
                left: 70vw;

                width: 130px;
                height: 150px;

                display: inline;


                cursor: pointer;
                background-color: white;
                color: black;


                z-index: 10;
                transition-duration: 2s;

            }

            .index-text{
                list-style-type: none;

                margin-left: 35px;
            }


.container{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: 90vh;
    
    grid-template-columns: 8% 1fr;
    display: grid;
    
    
}

.exhibition{
    position: relative;
    top:0px;
    left:0px;
    
     width: 100%;
    height: 90vh;
    
}

.content
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 98%;
    height: 90vh;
    
    
}

.storage{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 70vh;
    
    transition-delay: 2s;
    transition-duration: 3s;
}



.done{
    position: absolute;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 100vh;
    
    z-index: 0;
    
}

.Seoul{
    position: relative;
    top:0px;
    left: 0px;
    
    float: right;
    
    width: 75%;
    height: 10%;
    
    min-width: 80px;
    min-height: 80px;
    
    
    
    background-color: white;
    
    text-align: left;
    padding: 10px;
    
    
}

.London{
    position: relative;
    top:0px;
    left: 0px;
    
    float: right;
    
    width: 75%;
    height: 10%;
    
    min-width: 80px;
    min-height: 80px;
    
    
    
    background-color:#fceb00;
    border: 1px solid black;
    
    text-align: left;
    padding: 10px;
}

.Locus{
    position: relative;
    top:0px;
    left: 0px;
    
    float: right;
    
    width: 75%;
    height: 10%;
    
    min-width: 80px;
    min-height: 80px;
    
    border:1px solid black;
    
    background-color: black;
    color: white;
    
    text-align: left;
    padding: 10px;
}




#London{
    
    
    width: 100%;
    height: 70vh;
    
    
    
    
    
    z-index: 1;
    
    
    border: 3px dotted black;
    
    transition-delay: 2s;
    transition-duration: 3s;
}





.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    
 z-index: 9;    
}


  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
      
    z-index: 9;
}



.pages{
    position: relative;
    top:50px;
    left: 0px;
    
    width: 100%;
    height: 80%;
    
    overflow: hidden;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    display: none;
    
    z-index: 8;
}

.ex_img{
    position: absolute;
    top:10px;
    left: 50px;
    
    width: 45%;
    height: 100%;
    
    min-height: 300px;
    
    
    overflow: hidden;
}

.buttons{
    position: absolute;
    top:10px;
    left: 50px;
    
    width: 40%;
    height: 100%;
}

.click{
  position: relative;
  top:30%;
  left: 35%;
    
  cursor: pointer;
  height: 15px;
  width: 15px;
    
  border-radius: 50%;
  
  background-color: yellow;
  
  display: inline-block;
  opacity: 1;
    
   z-index: 10;    
}




.click2{
  position: relative;
  top:55%;
  left: 65%; 
    
  cursor: pointer;
  height: 15px;
  width: 15px;
    
  border-radius: 50%;
  
  background-color: yellow;
  
  display: inline-block;
  opacity: 1;
    
   z-index: 10;   
}


#archive_img1{
    position: absolute;
    top:0px;
    left: 50vw;
    
    
    width: 30%;
    height: 60%;
    
    
    z-index: 10;  
}

#archive_img2{
    position: absolute;
    top:100px;
    left: 60vw;
    
    
    width: 30%;
    height: 50%;
    
    
    z-index: 10;  
}

.map{
    position: absolute;
    top:5px;
    right: 5px;
    float: right;
    
    width: 50px;
    height: 50px;
    
    background-color: white;
    
    z-index: 9;
    overflow: hidden;
    
    padding: 5px;
    
    transition-duration: 3s; 
}

.map:hover{
    position: absolute;
    top:5px;
    right: 5px;
    float: right;
    
    width: 80vw;
    height: 80vh;
    
    background-color: white;
    
    padding: 50px;
    z-index: 10;
    transition-duration: 3s; 
}

.ongoing{
    position: relative;
    top:-0px;
    left:0px;
    
    width: 100%;
    height: 50vh;
    
    z-index: 9;
    
    
    margin-bottom: 100vh;
    margin-right: 30vw;
}

.depot_channel_box{
    position: relative;
    top: 0px;
    left: 60vw;
    
    cursor: pointer;
    width: 20vw;
    height: 20vh;
    
    
    display: inline-block;
    
    z-index: 10;
    
    background-color: white;
    
    
    line-height: 15vh;
    
    transition-duration: 3s;
    transition-delay: 0.5s;
    
    overflow: hidden;
}

.depot_channel_box:hover{
    position: absolute;
    top:-75vh;
    left: 30vw;
    
    vertical-align: bottom;
    
    cursor: pointer;
    width: 70vw;
    height: 120vh;
    
    
    float: right;
    
    z-index: 10;
    
    background-color: white;
    color: black;
    
    transition-duration: 2s;
    transition-delay: 0.5s;
}





.live-station{
    position: absolute;
    top: 45vh;
    left: 50px;
    
    width: 50vw;
    height: 60vh;
    
    opacity: 0.1;
    z-index: 10;
   
    
    
    transition-duration: 1.5s;
    transition-delay: 8s;
    
}

.live-station:hover{
    position: absolute;
    top: 45vh;
    left: 50px;
    
    width: 50vw;
    height: 60vh;
    
    opacity: 1;
    z-index: 10;
   
    
    margin-bottom: 50vh;
    margin-right: 30vw;
    
    transition-duration: 1.5s;
    transition-delay: 0s;
    
}

.live-station-cover{
    position: absolute;
    top: 45vh;
    left: 50px;
    
    width: 50vw;
    height: 60vh;
    
    line-height: 50vh;
    
    background-color: white;
    
    opacity: 1;
   
    z-index: 9;
    
}

.covertext{
    text-align: center;
    top:50%;
    
    font-size: 13.5px;
}

.chat{
    position: absolute;
    top: 0vh;
    left: 150px;
    
    width: 20vw;
    height: 45vh;
    
    opacity: 0.1;
    
    z-index: 10;
    
    transition-duration: 1s;
    transition-delay: 8s;
}


.chat:hover{
    position: absolute;
    top: 0vh;
    left: 150px;
    
    width: 20vw;
    height: 45vh;
    
    opacity: 1;
    
    z-index: 10;
    
    transition-duration: 1s;
    transition-delay: 0s;
}

.chat-cover{
    position: absolute;
    top: 0vh;
    left: 150px;
    
    width: 20vw;
    height: 45vh;
    background-color: white;
    
    opacity: 1;
    
    line-height: 45vh;
    
    z-index: 9;
}