@font-face {
    font-family:"arkibal";
    src:url(ArkibalDisplay-Light.woff) 
}

@font-face{
    font-family:"arkibal";
    src:url(ArkibalDisplay-Regular.woff); 
    font-weight:bold;
}

@keyframes dots {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes dotsappear {
    from {opacity: 0;}
    to {opacity: 1;}
}

* {
  box-sizing: border-box;
    
    
}

p{
    font-family: arkibal;
}

body{
    background-color: #f7e83e;
    
    width: 120vw;
    
    font-family: arkibal;
}

a{
    text-decoration: none;
    color: black;
}



.header{
    position: relative;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 8vh;
    
    margin-top: 2vh;
   
    
}

            .index{
             position: absolute;
             top: 0px;
             left: 70vw;

                width: 130px;
                height: 50px;

                display: inline;
                
                text-align: left;

                cursor: pointer;
                color: black;

                
                
                font-weight:bold;
                font-family: arkibal;
                z-index: 9;
                
                font-size: 20px;
            }

#index{
    position: absolute;
    top:0px;
    left: 68vw;
    
    
    width: 32vw;
    height: 500px;
    z-index: 8;
    background-color: white;
    
    padding-top: 40px;
    padding-left: 25px;
   
}

            


.container{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100vw;
    height: 90vh;
    
    grid-template-columns: 25px 1fr;
    display: grid;
    
    
}

.exhibition{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 90vh;
    
}

.content
{
    position: relative;
    top:0px;
    left:0px;
    
    width: 98%;
    height: 90vh;
    
    
}

.storage{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 75vh;
    
}



.done{
    position: absolute;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 100vh;
    
    z-index: 0;
    
}

.Seoul{
    position: relative;
    top:0px;
    left: -10px;
    
    
    
    width: 30px;
    height: 45px;
    
    
    
    z-index: 10;
    
    background-color: white;
    
    text-align: center;
    vertical-align: middle;
    
    font-weight:bold;
    font-family: arkibal;
    color: white;
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.Seoul:hover{
    width: 150px;
    color: black;
    
    transition-duration: 0.7s;
}

.London{
    position: relative;
    top:0px;
    left: -10px;
    
    
    
    width: 30px;
    height: 45px;
    
    z-index: 10;
    
    background-color:#fceb00;
    
    
    text-align: center;
    vertical-align: middle;
    
    font-weight: bold;
    font-family: arkibal;
    
    color: #fceb00;
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.London:hover{
    width: 150px;
    color: black;
}

.Locus{
    position: relative;
    top:0px;
    left: -10px;
    
    width: 30px;
    height: 45px;
    
    z-index: 10;
    
    
    background-color: black;
    color: black;
    
    text-align: center;
    vertical-align: middle;
    
    font-weight:bold;
    font-family: arkibal;
    
    overflow: hidden;
    
    transition-duration: 0.7s;
}

.Locus:hover{
    width: 150px;
    transition-duration: 0.7s;
    color: white;
    
}



#London{
    
    
    width: 100%;
    height: 75vh;
    
    
    
    
    
    z-index: 5;
    
    
    border: 3px dotted black;
    
}





.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
    
  z-index: 9;    
}


  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
      
    z-index: 9;
}



.pages{
    position: relative;
    top:50px;
    left: 0px;
    
    width: 100%;
    height: 90%;
    
    z-index: 8;
}

.ex_img{
    position: relative;
    top:0px;
    left: 35px;
    
    width: 58%;
    
    
    min-height: 300px;
    
    padding-bottom: 30%;
    
}

.buttons{
    position: absolute;
    top:10px;
    left: 50px;
    
    width: 40%;
    height: 100%;
}

.yellowbutton{
  cursor: pointer;
  height: 15px;
  width: 15px;
    
  border-radius: 50%;
  
  background-color: yellow;
  
  
  opacity: 1;
    
  z-index: 10;  
    
  display: inline-block;
}

.disappear{
  animation-name: dots;
  animation-duration: 3s;
  animation-delay: 6s; 
  animation-fill-mode: both;  
    
 
}

.appear{
  animation-name: dotsappear;
  animation-duration: 3s;
  animation-delay: 2s; 
  animation-fill-mode: both;
}

.appear2{
  animation-name: dotsappear;
  animation-duration: 3s;
  animation-delay: 4s; 
  animation-fill-mode: both;
}

.appear3{
  animation-name: dotsappear;
  animation-duration: 3s;
  animation-delay: 4.5s; 
  animation-fill-mode: both;
}

.appear4{
  animation-name: dotsappear;
  animation-duration: 3s;
  animation-delay: 5s; 
  animation-fill-mode: both;
}

#click{
  position: absolute;
  top:20%;
  left: 22%; 
}

#click2{
  position: absolute;
  top:20%;
  left: 43%; 
}

#click3{
  position: absolute;
  top:40%;
  left: 26%; 
}

#click4{
  position: absolute;
  top:38%;
  left: 36%; 
}




#archive_img1{
    position: absolute;
    top:0px;
    left: 50vw;
    
    
    width: 30%;
    height: 60%;
    
    
    z-index: 10;  
}

#archive_img2{
    position: absolute;
    top:100px;
    left: 60vw;
    width: 30%;
    height: 50%;
    z-index: 10;  
}

#archive_img3{
    position: absolute;
    top:-100px;
    left: 45vw;
    width: 30%;
    height: 40%;
    z-index: 10;  
}

#archive_img4{
    position: absolute;
    top:-80px;
    left: 60vw;
    width: 23%;
    height: 30%;
    z-index: 10;  
}


.map{
    position: absolute;
    top:5px;
    right: 5px;
    float: right;
    
    width: 50px;
    height: 50px;
    
    background-color: white;
    
    z-index: 7;
    overflow: hidden;
    
    padding: 5px;
    
    transition-duration: 3s;
    display: inline-block;
}

.map:hover{
   
    
    width: 80vw;
    height: 80vh;
    
    padding: 50px;
    z-index: 10;
    transition-duration: 3s; 
}


.ongoing{
    position: relative;
    top:0px;
    left:0px;
    
    width: 100%;
    height: 50vh;
    
    z-index: 9;
    
    
    margin-bottom: 100vh;
    margin-right: 0vw;
}


.depot_channel{
    position: absolute;
    top:0px;
    left: 50vw;
    
    width: 40vw;
    height: 40vh;
    
    
    background-color: white;
    
    text-align: center;
    border: 1px solid black;
    
    cursor: pointer;
}



#depotCH{
    height: 100vh;
    width: 0;
    position: fixed;
    
    overflow-x: hidden;
    
    top:0;
    right: 0;
    z-index: 10;
    
    background-color: white;
    transition-duration: 0.5s;
    
    padding-top: 30px;
    
}

.closebtn{
    position: absolute;
    top:15px;
    left: 15px;
    
    font-size: 30px;
    
    cursor: pointer;
    color: black;
    z-index: 10;
}

.ch1box{
    position: absolute;
    top:0px;
    left: 10vw;
    
    width: 32vw;
    height: 32vh;
    background-color: white;
    
    
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    cursor: pointer;
}

.ch2box{
    position: absolute;
    top:40vh;
    left: 55vw;
    
    width: 32vw;
    height: 32vh;
    background-color: white;
    
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    cursor: pointer;
}

.ch_info{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.on{
    font-weight: normal;
    font-size: 15px;
}
.onair{
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
    animation-name: dots;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse; 
    animation-iteration-count: infinite;
}

.ch_list{
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding-top: 20px;
}

#ch1, #ch2{

    
    width: 70vw;
    height: 70vh;
    
    
    padding: 20px;
    background-color: white;
   
}

#chheader{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.ch1{
    position: absolute;
    left: 0vw;
    top:-38vh; 
}

.ch2{
    position: absolute;
    left: 25vw;
    top:40vh; 
}

.live-station{
    
    
    width: 100%;
    height: 100%;
    
    opacity: 1;
    z-index: 10;
   
    
    
    transition-duration: 1.5s;
    transition-delay: 8s;
    
}




.chat{
   
    
    width: 100%;
    height: 100%;
    
    opacity: 1;
    
    z-index: 9;
    
    transition-duration: 1s;
    transition-delay: 8s;
}

.close{
    position: absolute;
    top:25px;
    right: 25px;
    
    font-size: 25px;
    float:right;
    cursor: pointer;
    color: black;
    z-index: 10;
}